@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ward - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>DistrictId</th>
            <th>Code</th>
            <th>Name</th>
            <th>SortOrder</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


