@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UserDevice - Form @ViewBag.Id</h2>
<form method="post">
    <div>
        <label>UserId</label>
        <input name="UserId" />
    </div>
    <div>
        <label>DeviceId</label>
        <input name="DeviceId" />
    </div>
    <div>
        <label>DeviceName</label>
        <input name="DeviceName" />
    </div>
    <div>
        <label>DeviceType</label>
        <input name="DeviceType" />
    </div>
    <div>
        <label>IsActive</label>
        <input name="IsActive" />
    </div>
    <button type="submit">Save</button>
  </form>


