@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>TagType - Form @ViewBag.Id</h2>
<form method="post">
    <div>
        <label>Code</label>
        <input name="Code" />
    </div>
    <div>
        <label>Color</label>
        <input name="Color" />
    </div>
    <div>
        <label>SortOrder</label>
        <input name="SortOrder" />
    </div>
    <button type="submit">Save</button>
  </form>


