@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UserNotification - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>NotificationId</th>
            <th>IsRead</th>
            <th>ReadAt</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


