@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>FolderUpload - Form @ViewBag.Id</h2>
<form method="post">
    <div>
        <label>FolderName</label>
        <input name="FolderName" />
    </div>
    <div>
        <label>FolderPath</label>
        <input name="FolderPath" />
    </div>
    <div>
        <label>CreatedBy</label>
        <input name="CreatedBy" />
    </div>
    <button type="submit">Save</button>
  </form>


