@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>FolderUpload - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>FolderName</th>
            <th>FolderPath</th>
            <th>CreatedBy</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


