@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>SystemConfig - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Key</th>
            <th>Value</th>
            <th>Description</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


