@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ActionInMenu - Detail @ViewBag.Id</h2>
<div>
    <div>
        <label>ActionId</label>
        <span>@Model?.ActionId</span>
    </div>
    <div>
        <label>MenuId</label>
        <span>@Model?.MenuId</span>
    </div>
    <div>
        <label>RoleId</label>
        <span>@Model?.RoleId</span>
    </div>
</div>


