@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ActionInMenu - Form @ViewBag.Id</h2>
<form method="post">
    <div>
        <label>ActionId</label>
        <input name="ActionId" />
    </div>
    <div>
        <label>MenuId</label>
        <input name="MenuId" />
    </div>
    <div>
        <label>RoleId</label>
        <input name="RoleId" />
    </div>
    <button type="submit">Save</button>
  </form>


