@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ActionInMenu - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>ActionId</th>
            <th>MenuId</th>
            <th>RoleId</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


