@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UserStatus - Detail @ViewBag.Id</h2>
<div>
    <div>
        <label>Code</label>
        <span>@Model?.Code</span>
    </div>
    <div>
        <label>Color</label>
        <span>@Model?.Color</span>
    </div>
    <div>
        <label>SortOrder</label>
        <span>@Model?.SortOrder</span>
    </div>
</div>


