@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Notification - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>NotificationCategoryId</th>
            <th>NotificationTypeId</th>
            <th>IsActive</th>
            <th>PublishedAt</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


