@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UserSession - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>AccessTokenJti</th>
            <th>RefreshTokenJti</th>
            <th>IsRevoked</th>
            <th>ExpiresAt</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


