@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>District - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>ProvinceId</th>
            <th>Code</th>
            <th>Name</th>
            <th>SortOrder</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


