@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>{{entity}} - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            {{#each props}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


