@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UserVerificationToken - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>Token</th>
            <th>TokenType</th>
            <th>ExpiresAt</th>
            <th>IsUsed</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


