@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>User - Detail @ViewBag.Id</h2>
<div>
    <div>
        <label>Email</label>
        <span>@Model?.Email</span>
    </div>
    <div>
        <label>PhoneNumber</label>
        <span>@Model?.PhoneNumber</span>
    </div>
    <div>
        <label>FirstName</label>
        <span>@Model?.FirstName</span>
    </div>
    <div>
        <label>LastName</label>
        <span>@Model?.LastName</span>
    </div>
    <div>
        <label>DateOfBirth</label>
        <span>@Model?.DateOfBirth</span>
    </div>
    <div>
        <label>Gender</label>
        <span>@Model?.Gender</span>
    </div>
    <div>
        <label>Address</label>
        <span>@Model?.Address</span>
    </div>
    <div>
        <label>ProvinceId</label>
        <span>@Model?.ProvinceId</span>
    </div>
    <div>
        <label>DistrictId</label>
        <span>@Model?.DistrictId</span>
    </div>
    <div>
        <label>WardId</label>
        <span>@Model?.WardId</span>
    </div>
    <div>
        <label>UserStatusId</label>
        <span>@Model?.UserStatusId</span>
    </div>
    <div>
        <label>IsEmailVerified</label>
        <span>@Model?.IsEmailVerified</span>
    </div>
    <div>
        <label>IsPhoneVerified</label>
        <span>@Model?.IsPhoneVerified</span>
    </div>
</div>


