@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>User - Form @ViewBag.Id</h2>
<form method="post">
    <div>
        <label>Email</label>
        <input name="Email" />
    </div>
    <div>
        <label>PhoneNumber</label>
        <input name="PhoneNumber" />
    </div>
    <div>
        <label>FirstName</label>
        <input name="FirstName" />
    </div>
    <div>
        <label>LastName</label>
        <input name="LastName" />
    </div>
    <div>
        <label>DateOfBirth</label>
        <input name="DateOfBirth" />
    </div>
    <div>
        <label>Gender</label>
        <input name="Gender" />
    </div>
    <div>
        <label>Address</label>
        <input name="Address" />
    </div>
    <div>
        <label>ProvinceId</label>
        <input name="ProvinceId" />
    </div>
    <div>
        <label>DistrictId</label>
        <input name="DistrictId" />
    </div>
    <div>
        <label>WardId</label>
        <input name="WardId" />
    </div>
    <div>
        <label>UserStatusId</label>
        <input name="UserStatusId" />
    </div>
    <div>
        <label>IsEmailVerified</label>
        <input name="IsEmailVerified" />
    </div>
    <div>
        <label>IsPhoneVerified</label>
        <input name="IsPhoneVerified" />
    </div>
    <button type="submit">Save</button>
  </form>


