@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>User - List</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DateOfBirth</th>
            <th>Gender</th>
            <th>Address</th>
            <th>ProvinceId</th>
            <th>DistrictId</th>
            <th>WardId</th>
            <th>UserStatusId</th>
            <th>IsEmailVerified</th>
            <th>IsPhoneVerified</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


