@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UserRole - Detail @ViewBag.Id</h2>
<div>
    <div>
        <label>UserId</label>
        <span>@Model?.UserId</span>
    </div>
    <div>
        <label>RoleId</label>
        <span>@Model?.RoleId</span>
    </div>
</div>


