@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UserRole - Form @ViewBag.Id</h2>
<form method="post">
    <div>
        <label>UserId</label>
        <input name="UserId" />
    </div>
    <div>
        <label>RoleId</label>
        <input name="RoleId" />
    </div>
    <button type="submit">Save</button>
  </form>


